{% from "bootstrap5/form.html" import render_form %}
{% extends 'base.html' %}
{% block content %}

<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Welcome to MealMate:</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Your hassle-free solution for daily dining decisions! No need for tedious meal planning;
            simply input your favorite dishes, and let our app do the work.  Each day, discover a curated selection of
            meals based on your preferences. Enjoy the ease of not having to make a weekly plan – MealMate is here to
            surprise you with your own favorite dishes, ensuring every day brings a delightful and stress-free dining
            experience. Embrace spontaneity in your meals without sacrificing the flavors you love.
            Get ready to let MealMate simplify your daily dining choices!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-5">


            {% if current_user.is_authenticated %}
            <a href="{{ url_for('add_meal', user_id=current_user.id) }}">
          <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Add a Meal</button>
            </a>
          <form method="GET" action="{{ url_for('show_menu', user_id=current_user.id) }}">
            <button type="submit" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Create menu</button>
            </form>


            {% else %}
            <a href="{{ url_for('login') }}">
          <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Add a Meal</button>
            </a>

            <a href="{{ url_for('login') }}">
          <button type="button" class="btn btn-outline-light btn-lg px-4">Create Weekly Menu</button>
                </a>
            {% endif %}


        </div>
      </div>
    </div>
  </div>

<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Some of our suggestions:</h1>
    </div>
  </div>

    <div class="album py-5 bg-dark text-secondary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for food in example_food %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ food.img_url }}" class="card-img-top" height="300" alt="Picture of a meal">
            <div class="card-body">
              <p class="card-text"> {{ food.name }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add to menu</button>
                </div>
              </div>
            </div>
          </div>
        </div>
          {% endfor %}
      </div>
    </div>
  </div>


{% endblock %}