{% extends 'base.html' %}
{% block content %}

<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Here's your menu for this week:</h1>
    </div>


    <div class="album py-5 bg-dark text-secondary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


          {% for day in days_of_week %}
        {% if menu and loop.index - 1 < menu|length %}
        <div class="col">
          <div class="card shadow-sm  bg-dark">
              <div class="align-items-center my-3">
                <h2 class="card-text text-light"> {{ day }}</h2>
              </div>
            <img src="{{ menu[loop.index - 1].img_url }}" class="card-img-top" height="300" alt="Picture of a meal">
            <div class="card-body">
              <h4 class="card-text text-light"> {{ menu[loop.index - 1].name }}</h4>
            </div>
          </div>
        </div>
          {% else %}
        <p>No food available for {{ day }}</p>
        {% endif %}
        {% endfor %}
      </div>

    </div>
  </div>
</div>



{% endblock %}